<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="post title">
            <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" name="content" ngModel required #content="ngModel" placeholder="post content"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button type="submit">Save Post</button>
    </form>
</mat-card>